body {
  background-color: red;
}

html {
  scroll-behavior: smooth;
}

.container {
  min-height: 10rem;
  max-width: 75rem;
  margin: auto;
  background-color: white;
  padding: 1rem;
}

#pageheader .container {
  background-color: coral;
  min-height: auto;
  text-align: center;
}

#logo {
  width: 6.25rem;
  height: 6.25rem;
  background-color: none;
  background-image: url();
}

#pageheader .container {
  background-color: none;
  min-height: auto;
}

#media {
  background-color: lightblue;
  min-height: 10rem;
  padding: 1rem;
  background-image: url();
  background-size: cover;
  aspect-ratio: 16/9;
}

#career {
  background-color: aqua;
  min-height: 10rem;
  padding: 1rem;
}

#pagecontent {
  background-color: yellow;
  min-height: 10rem;
  padding: 1rem;
}

#semester1 {
  background-color: orange;
  min-height: 10rem;
  padding: 1rem;
}

#semester2 {
  background-color: green;
  min-height: 10rem;
  padding: 1rem;
}

#pagefooter {
  background-color: yellowgreen;
  min-height: auto;
  padding: 1rem;
}

#pagefooter .container {
  background-color: none;
  min-height: auto;
}

#pageheader nav {
  text-align: center;
}

#page header nav ul {
  list-style-type: none;
  margin: 0%;
  padding: 0%;
}

#aifooter {
  background-color: seagreen;
  padding: 1rem;
  min-height: auto;
}

#subfooter {
  background-color: blue;
  min-height: 10rem;
  padding: 1rem;
}

#aifooter .container {
  text-align: center;
  min-height: auto;
}

audio {
  display: block;
  margin: auto;
  background-color: red;
  border: 5px solid red;
}

#page header nav ul li {
  border: 2px solid silver;
  padding: 1rem;
  background-color: #befbfc;
  margin: 2px;
  border-radius: 10px;
}

#page header nav ul li:hover {
  background-color: red;
}

@media screen and (min-width: 600px) {
  #pageheader nav ul {
    background-color: none;
    margin-top: 2rem;
  }

  #page header nav ul li {
    display: inline-block;
  }

  #pagecontent {
    background-color: blue;
  }

  #career {
    background-color: red;
  }
}
