/* This is a CSS comment */
/* ? This is a question comment */
/* ! This is an alert comment */
/* todo This is a todo comment */
/* * This is another regular comment */

body
{
    background-color:rgb(245, 184, 194);
}
h1
{
    color:rgb(253, 144, 162);
    background-color: rgb(255, 173, 187);
}
ul
{
    font-family: 'Courier New', Courier, monospace;
}